 #fileSelector {
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
 }
 
 * {
	font-family: arial;
	color: #777;
 }
 
 h1 {
	text-align: center;
	font-size: 46px;
	text-shadow: 0px 0px 2px #999999;
	filter: dropshadow(color=#999999, offx=0, offy=0);
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-weight: normal;
	height: 25px;
 }
 
  h2 {
	text-align: center;
	font-size: 18px;
	text-shadow: 0px 0px 1px #999999;
	filter: dropshadow(color=#999999, offx=0, offy=0);
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-weight: normal;
 }
 
 .textHighlight {
	color: red;
	font-weight: bold
 }
 
 #uploadInfo {
	display: block;
	text-align: center;
	padding-top: 5px;
 }
 
 #lifiaLogo{
	float: right;
 }
 
 #logList  ul{
	list-style-type: none;
	margin-left: 5px;
	border: 3px solid #999999;
	padding-left: 20px;
	overflow: scroll;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #999;
	height: 225px;
 }
 
 #logList {
	width: 50%;
	height: 375px;
	font-size: 12px;
	float: left;
 }
 
 .panel {
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	opacity: 0.7;
	text-decoration: none;
 }
 
 .panel * {
	cursor: pointer;
 }
 
 .panel img {
	margin-left: 20px;
	vertical-align: middle;
 }
 
 .panel a {
	text-decoration: none;
 }
 
 .container {
	margin-top: 30px;
 }
 
 #downloadProcessedFileLink {
	color: red;
	font-weight: normal;
	margin-top: 8px;
	margin-left: 8px;
	text-shadow: 0px 0px 1px red;
	display: inline;
 }
 
 #reloadPanelLink {
	font-weight: normal;
	margin-top: 8px;
	margin-left: 8px;
	text-shadow: 0px 0px 1px #999;
	display: inline;
 }
 
 #toolbar {
	margin-top: 75px;
 }	
 
 #tagHints {
	margin-top: 50px;
	border: 4px solid #999;
	border-radius: 4px;
	background-color: #eee;
 }
 
 #tagHints ul {
	list-style-type: none;
 }
 
 #tagHints li {
	padding-top: 7px;
	padding-bottom: 7px;
 }
 
 .tag {
	color: black;
	border: 1px solid black;
	padding: 2px;
	background-color: orange;
	font-family: Courier New, consolas, fixed;
	font: 10px;
	box-shadow: 1px 1px 3px grey;
 }
 
 .tagHint {
	padding-left: 6px;
	display: block;
	padding-top: 5px;
 }

 
 